<main>
  <article>
    <!-- 
        - #SERVICE
      -->

    <section
      class="section service has-bg-image"
      aria-labelledby="service-label"
      style="background-image: url('assets/images/service-bg.png')"
    >
      <div class="container">
        <h2 class="section-title headline-md text-center" id="service-label">
          My Skills
        </h2>

        <ul class="service-list">
          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(177, 39%, 72%)"
            >
              <div class="card-media">
                <ion-icon
                  name="logo-angular"
                  aria-hidden="true"
                ></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Angular 16+</h3>

                <p class="body-sm">
                  Proficient in building dynamic web applications using Angular, with expertise in components, services, and dependency injection.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(41, 99%, 64%)"
            >
              <div class="card-media">
                <ion-icon name="logo-react" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">ReactJs</h3>

                <p class="body-sm">
                  Skilled in developing single-page applications with React, employing virtual DOM and state management for efficient UI development.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(19, 97%, 85%)"
            >
              <div class="card-media">
                <ion-icon
                  name="logo-html5"
                  aria-hidden="true"
                ></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">HTML/CSS/Bootstrap</h3>

                <p class="body-sm">
                  Strong command of HTML, CSS, and Bootstrap for responsive web design and cross-browser compatibility.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(221, 100%, 79%)"
            >
              <div class="card-media">
                <ion-icon name="logo-javascript" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">JavaScript/JQuery</h3>

                <p class="body-sm">
                  Proficient in JavaScript and JQuery for DOM manipulation and creating interactive frontend functionalities.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(76, 39%, 72%)"
            >
              <div class="card-media">
                <ion-icon
                  name="logo-sass"
                  aria-hidden="true"
                ></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">CSS Preprocessing</h3>

                <p class="body-sm">
                  Experience with CSS preprocessors like Sass or Less to streamline stylesheet management and facilitate the creation of modular, maintainable stylesheets.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(245, 100%, 90%)"
            >
              <div class="card-media">
                <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">UI/UX Design Principles:</h3>

                <p class="body-sm">
                  Understanding of design principles to create visually appealing interfaces that prioritize usability, accessibility, and overall user satisfaction.
                </p>
              </div>
            </div>
          </li>
          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(360, 52%, 69%)"
            >
              <div class="card-media">
                <ion-icon name="logo-github" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Version Control/Git</h3>

                <p class="body-sm">
                  Proficient in using version control systems like Git for collaborative development, tracking changes, and managing code repositories effectively.
                </p>
              </div>
            </div>
          </li>
          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(54, 10%, 79%)"
            >
              <div class="card-media">
                <ion-icon name="desktop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Responsive Design:</h3>

                <p class="body-sm">
                  Experience in implementing responsive web design techniques for optimal user experience across all devices with varying screen sizes.
                </p>
              </div>
            </div>
          </li>
          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(279, 32%, 70%)"
            >
              <div class="card-media">
                <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Performance Optimization</h3>

                <p class="body-sm">
                  Knowledge of techniques for optimizing performance, including code minification, image compression, and lazy loading, to enhance loading speed and overall user experience.
                </p>
              </div>
            </div>
          </li>
          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(35, 67%, 62%)"
            >
              <div class="card-media">
                <ion-icon name="construct-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Debugging and Testing</h3>

                <p class="body-sm">
                  Proficient in frontend unit testing with Jasmine and Karma, ensuring code quality. Implemented SonarQube for comprehensive code analysis, enhancing maintainability.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
