<main>
    <article>

      <!-- 
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/tasklist-application.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="https://checklist-marker.netlify.app/" target="_blank" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Website</span>

                  <h3 class="title-md">Tasklist Application</h3>

                  <p class="card-text">
                    The project is designed to help users manage tasks and checklist items associated with different users. Additionally, tasks can be visualized and interacted with on a 2D image representation of a building or layout.
                  </p>

                  <a href="https://checklist-marker.netlify.app/" target="_blank" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/spotify.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="https://sahil-repo2.netlify.app/" target="_blank" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Website</span>

                  <h3 class="title-md">Spotify Clone Website</h3>

                  <p class="card-text">
                    This project is a simple web-based music player that allows users to play a predefined list of songs.It features basic playback controls like play, pause, next, and previous, along with a progress bar to visualize the current playback position.
                  </p>

                  <a href="https://sahil-repo2.netlify.app/" target="_blank" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/weatherapp.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="https://sahil-repo.netlify.app/" target="_blank" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Website</span>

                  <h3 class="title-md">Weather App</h3>

                  <p class="card-text">
                    This project is a simple weather application built using HTML, CSS, Bootstrap, and JavaScript. It allows users to search for weather information by city name and displays the current temperature, humidity, wind speed, and other relevant details.
                  </p>

                  <a href="https://sahil-repo.netlify.app/" target="_blank" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>
<!-- 
            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-3.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Website Design for Marketing Agency Startup</h3>

                  <p class="card-text">
                    I design and develop services for customers of all sizes, specializing in creating stylish, modern
                    websites, web services and online stores
                  </p>

                  <a href="#" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-4.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Design</span>

                  <h3 class="title-md">Website Design for Marketing Agency Startup</h3>

                  <p class="card-text">
                    I design and develop services for customers of all sizes, specializing in creating stylish, modern
                    websites, web services and online stores
                  </p>

                  <a href="#" class="btn btn-primary">View Project</a>

                </div>

              </div>
            </li> -->

          </ul>

        </div>
      </section>

    </article>
  </main>